.css_id_label, .css_id_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_grid_line, .css_id_grid_line:hover {vertical-align: top;text-align: right;}
.css_inserted_date_label, .css_inserted_date_label:hover {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_inserted_date_grid_line, .css_inserted_date_grid_line:hover {vertical-align: top;text-align: center;}
.css_username_label, .css_username_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_username_grid_line, .css_username_grid_line:hover {vertical-align: top;text-align: left;}
.css_ip_user_label, .css_ip_user_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_ip_user_grid_line, .css_ip_user_grid_line:hover {vertical-align: top;text-align: left;}
.css_application_label, .css_application_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_application_grid_line, .css_application_grid_line:hover {vertical-align: top;text-align: left;}
.css_creator_label, .css_creator_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_creator_grid_line, .css_creator_grid_line:hover {vertical-align: top;text-align: left;}
.css_sc_field_0_label, .css_sc_field_0_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_sc_field_0_grid_line, .css_sc_field_0_grid_line:hover {vertical-align: top;text-align: left;}
.css_log_ok_label, .css_log_ok_label:hover {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_log_ok_grid_line, .css_log_ok_grid_line:hover {vertical-align: top;text-align: left;}
.css_description_label, .css_description_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_description_grid_line, .css_description_grid_line:hover {vertical-align: top;text-align: left;}
