.css_status_label { }
.css_status_line { }
.css_status_obj { }
.css_status_descript_label { }
.css_status_descript_line { }
.css_status_descript_obj { }
.css_sort_by_label { }
.css_sort_by_line {text-align:left;}
.css_sort_by_obj {text-align:left;}
.css_msg_subject_label { }
.css_msg_subject_line { }
.css_msg_subject_obj { }
.css_msg_body_label { }
.css_msg_body_line { }
.css_msg_body_obj {width:400px;}
.css_active_label { }
.css_active_line { }
.css_active_obj { }
