.css_member_name__label {text-align:center;vertical-align:middle;}
.css_member_name__line {text-align:center;vertical-align:middle;}
.css_member_name__obj { }
.css_email__label {text-align:center;vertical-align:middle;}
.css_email__line {text-align:center;vertical-align:middle;}
.css_email__obj { }
.css_phone1__label {text-align:center;vertical-align:middle;}
.css_phone1__line {text-align:center;vertical-align:middle;}
.css_phone1__obj { }
.css_main_contact__label {text-align:center;vertical-align:middle;}
.css_main_contact__line {text-align:center;vertical-align:middle;}
.css_main_contact__obj {background-color:#FFFFFF;}
.css_note__label {text-align:center;vertical-align:middle;}
.css_note__line {text-align:center;vertical-align:middle;}
.css_note__obj { }
