.css_client_id_label { }
.css_client_id_line {font-size:14px;color:#993300;font-weight:bold;text-align:left;vertical-align:middle;}
.css_client_id_obj { }
.css_co_name_label { }
.css_co_name_line { }
.css_co_name_obj {font-size:14px;color:#0000CC;font-weight:bold;}
.css_ofa_contact_label { }
.css_ofa_contact_line { }
.css_ofa_contact_obj { }
.css_street_address_label { }
.css_street_address_line { }
.css_street_address_obj { }
.css_mailing_address_label { }
.css_mailing_address_line { }
.css_mailing_address_obj { }
.css_city_label { }
.css_city_line { }
.css_city_obj { }
.css_state_label { }
.css_state_line { }
.css_state_obj { }
.css_zip_code_label { }
.css_zip_code_line { }
.css_zip_code_obj { }
.css_phone_number_label { }
.css_phone_number_line { }
.css_phone_number_obj { }
.css_home_phone_label { }
.css_home_phone_line { }
.css_home_phone_obj { }
.css_fax_number_label { }
.css_fax_number_line { }
.css_fax_number_obj { }
.css_email_label { }
.css_email_line { }
.css_email_obj { }
.css_business_type_label { }
.css_business_type_line { }
.css_business_type_obj { }
.css_fresh_cut_allowed_label { }
.css_fresh_cut_allowed_line { }
.css_fresh_cut_allowed_obj { }
.css_business_license_label { }
.css_business_license_line { }
.css_business_license_obj { }
.css_nursery_license_label { }
.css_nursery_license_line { }
.css_nursery_license_obj { }
.css_federal_tax_id_label { }
.css_federal_tax_id_line { }
.css_federal_tax_id_obj { }
.css_temporary_pass_label { }
.css_temporary_pass_line { }
.css_temporary_pass_obj { }
.css_ofa_member_label { }
.css_ofa_member_line { }
.css_ofa_member_obj { }
.css_starting_date_label { }
.css_starting_date_line { }
.css_starting_date_obj { }
.css_renewal_date_label { }
.css_renewal_date_line { }
.css_renewal_date_obj {font-size:14px;color:#3366FF;font-weight:bold;}
.css_expiration_date_label { }
.css_expiration_date_line { }
.css_expiration_date_obj { }
.css_canceled_label { }
.css_canceled_line { }
.css_canceled_obj { }
.css_cancel_date_label { }
.css_cancel_date_line { }
.css_cancel_date_obj { }
.css_canceled_by_label { }
.css_canceled_by_line { }
.css_canceled_by_obj { }
.css_reason_canceled_label { }
.css_reason_canceled_line { }
.css_reason_canceled_obj { }
.css_retire_date_label { }
.css_retire_date_line { }
.css_retire_date_obj { }
.css_verified_receipts_label { }
.css_verified_receipts_line { }
.css_verified_receipts_obj { }
.css_date_last_updated_label { }
.css_date_last_updated_line { }
.css_date_last_updated_obj { }
.css_restricted_label { }
.css_restricted_line { }
.css_restricted_obj { }
.css_committee_approval_required_label { }
.css_committee_approval_required_line { }
.css_committee_approval_required_obj { }
.css_type_company_label {color:#990000;}
.css_type_company_line { }
.css_type_company_obj { }
.css_archive_label { }
.css_archive_line {font-family:Arial, sans-serif;font-size:11px;color:#CC6633;}
.css_archive_obj { }
.css_archive_date_label { }
.css_archive_date_line { }
.css_archive_date_obj { }
.css_pricing_level_id_label { }
.css_pricing_level_id_line {text-align:left;}
.css_pricing_level_id_obj {text-align:left;}
.css_store_front_address_label { }
.css_store_front_address_line { }
.css_store_front_address_obj { }
.css_store_front_city_label { }
.css_store_front_city_line { }
.css_store_front_city_obj { }
.css_store_front_zip_label { }
.css_store_front_zip_line { }
.css_store_front_zip_obj { }
.css_home_base_address_label { }
.css_home_base_address_line { }
.css_home_base_address_obj { }
.css_home_base_city_label { }
.css_home_base_city_line { }
.css_home_base_city_obj { }
.css_home_base_zip_label { }
.css_home_base_zip_line { }
.css_home_base_zip_obj { }
.css_store_front_state_label { }
.css_store_front_state_line { }
.css_store_front_state_obj { }
.css_home_base_state_label { }
.css_home_base_state_line { }
.css_home_base_state_obj { }
.css_record_created_label { }
.css_record_created_line { }
.css_record_created_obj { }
.css_permanent_member_date_label { }
.css_permanent_member_date_line { }
.css_permanent_member_date_obj { }
.css_acct_instagram_label { }
.css_acct_instagram_line { }
.css_acct_instagram_obj { }
.css_acct_facebook_label { }
.css_acct_facebook_line { }
.css_acct_facebook_obj { }
.css_website_url_label { }
.css_website_url_line { }
.css_website_url_obj { }
.css_bus_cat_id_label { }
.css_bus_cat_id_line {text-align:left;}
.css_bus_cat_id_obj {text-align:left;}
.css_bus_subcat_id_label { }
.css_bus_subcat_id_line {text-align:left;}
.css_bus_subcat_id_obj {text-align:left;}
.css_bus_subcat_other_label { }
.css_bus_subcat_other_line { }
.css_bus_subcat_other_obj { }
.css_appn_date_label { }
.css_appn_date_line { }
.css_appn_date_obj { }
.css_appn_note_label { }
.css_appn_note_line { }
.css_appn_note_obj { }
.css_doc_type_label {color:#660000;}
.css_doc_type_line { }
.css_doc_type_obj { }
.css_doc_file_label {color:#660000;}
.css_doc_file_line { }
.css_doc_file_obj { }
.css_member1_name_label { }
.css_member1_name_line { }
.css_member1_name_obj { }
.css_member1_phone_label { }
.css_member1_phone_line { }
.css_member1_phone_obj { }
.css_member1_email_label { }
.css_member1_email_line { }
.css_member1_email_obj { }
.css_member1_note_label { }
.css_member1_note_line { }
.css_member1_note_obj { }
.css_member2_name_label { }
.css_member2_name_line { }
.css_member2_name_obj { }
.css_member2_phone_label { }
.css_member2_phone_line { }
.css_member2_phone_obj { }
.css_member2_email_label { }
.css_member2_email_line { }
.css_member2_email_obj { }
.css_member2_note_label { }
.css_member2_note_line { }
.css_member2_note_obj { }
.css_member3_name_label { }
.css_member3_name_line { }
.css_member3_name_obj { }
.css_member3_phone_label { }
.css_member3_phone_line { }
.css_member3_phone_obj { }
.css_member3_email_label { }
.css_member3_email_line { }
.css_member3_email_obj { }
.css_member3_note_label { }
.css_member3_note_line { }
.css_member3_note_obj { }
.css_applicant_name_label {background-color:#F8F9FA;vertical-align:top;}
.css_applicant_name_line {background-color:#F8F9FA;}
.css_applicant_name_obj {background-color:#FFFFFF;}
.css_applicant_signature_label {background-color:#F8F9FA;}
.css_applicant_signature_line { }
.css_applicant_signature_obj { }
.css_applicant_title_label {background-color:#F8F9FA;vertical-align:top;}
.css_applicant_title_line {background-color:#F8F9FA;}
.css_applicant_title_obj {background-color:#FFFFFF;}
.css_member4_name_label { }
.css_member4_name_line { }
.css_member4_name_obj { }
.css_member4_phone_label { }
.css_member4_phone_line { }
.css_member4_phone_obj { }
.css_member4_email_label { }
.css_member4_email_line { }
.css_member4_email_obj { }
.css_member4_note_label { }
.css_member4_note_line { }
.css_member4_note_obj { }
.css_member5_name_label { }
.css_member5_name_line { }
.css_member5_name_obj { }
.css_member5_phone_label { }
.css_member5_phone_line { }
.css_member5_phone_obj { }
.css_member5_email_label { }
.css_member5_email_line { }
.css_member5_email_obj { }
.css_member5_note_label { }
.css_member5_note_line { }
.css_member5_note_obj { }
.css_member6_name_label { }
.css_member6_name_line { }
.css_member6_name_obj { }
.css_member6_phone_label { }
.css_member6_phone_line { }
.css_member6_phone_obj { }
.css_member6_email_label { }
.css_member6_email_line { }
.css_member6_email_obj { }
.css_member6_note_label { }
.css_member6_note_line { }
.css_member6_note_obj { }
.css_member7_name_label { }
.css_member7_name_line { }
.css_member7_name_obj { }
.css_member7_phone_label { }
.css_member7_phone_line { }
.css_member7_phone_obj { }
.css_member7_email_label { }
.css_member7_email_line { }
.css_member7_email_obj { }
.css_member7_note_label { }
.css_member7_note_line { }
.css_member7_note_obj { }
.css_member8_name_label { }
.css_member8_name_line { }
.css_member8_name_obj { }
.css_member8_phone_label { }
.css_member8_phone_line { }
.css_member8_phone_obj { }
.css_member8_email_label { }
.css_member8_email_line { }
.css_member8_email_obj { }
.css_member8_note_label { }
.css_member8_note_line { }
.css_member8_note_obj { }
.css_member9_name_label { }
.css_member9_name_line { }
.css_member9_name_obj { }
.css_member9_phone_label { }
.css_member9_phone_line { }
.css_member9_phone_obj { }
.css_member9_email_label { }
.css_member9_email_line { }
.css_member9_email_obj { }
.css_member9_note_label { }
.css_member9_note_line { }
.css_member9_note_obj { }
.css_member10_name_label { }
.css_member10_name_line { }
.css_member10_name_obj { }
.css_member10_phone_label { }
.css_member10_phone_line { }
.css_member10_phone_obj { }
.css_member10_email_label { }
.css_member10_email_line { }
.css_member10_email_obj { }
.css_member10_note_label { }
.css_member10_note_line { }
.css_member10_note_obj { }
.css_main_contact_name_label { }
.css_main_contact_name_line { }
.css_main_contact_name_obj {font-size:14px;color:#0000CC;font-weight:bold;}
.css_main_contact_phone_label { }
.css_main_contact_phone_line { }
.css_main_contact_phone_obj { }
.css_main_contact_email_label { }
.css_main_contact_email_line { }
.css_main_contact_email_obj { }
.css_main_contact_title_label { }
.css_main_contact_title_line { }
.css_main_contact_title_obj { }
.css_main_contact_img_id_label { }
.css_main_contact_img_id_line { }
.css_main_contact_img_id_obj { }
.css_more_buyers_xlsx_label {color:#CC3300;}
.css_more_buyers_xlsx_line { }
.css_more_buyers_xlsx_obj { }
.css_buyers_excel_qty_label {color:#CC3300;}
.css_buyers_excel_qty_line {text-align:left;}
.css_buyers_excel_qty_obj {background-color:#FFFF00;text-align:left;}
.css_adtl_memb_name_label { }
.css_adtl_memb_name_line { }
.css_adtl_memb_name_obj { }
.css_adtl_memb_note_label { }
.css_adtl_memb_note_line { }
.css_adtl_memb_note_obj { }
.css_adtl_memb_phone_label { }
.css_adtl_memb_phone_line { }
.css_adtl_memb_phone_obj { }
.css_dummy01_label { }
.css_dummy01_line { }
.css_dummy01_obj { }
.css_dummy02_label { }
.css_dummy02_line { }
.css_dummy02_obj { }
.css_dummy03_label { }
.css_dummy03_line { }
.css_dummy03_obj { }
.css_dummy04_label { }
.css_dummy04_line { }
.css_dummy04_obj { }
.css_dummy05_label { }
.css_dummy05_line { }
.css_dummy05_obj { }
.css_dummy06_label {font-weight:bold;}
.css_dummy06_line { }
.css_dummy06_obj { }
.css_dummy07_label { }
.css_dummy07_line { }
.css_dummy07_obj { }
.css_dummy08_label { }
.css_dummy08_line { }
.css_dummy08_obj { }
.css_dummy09_label { }
.css_dummy09_line { }
.css_dummy09_obj { }
.css_dummy10_label { }
.css_dummy10_line {background-color:#F8F9FA;}
.css_dummy10_obj { }
.css_dummy11_label { }
.css_dummy11_line { }
.css_dummy11_obj { }
.css_dummy12_label { }
.css_dummy12_line { }
.css_dummy12_obj { }
.css_dummy13_label { }
.css_dummy13_line { }
.css_dummy13_obj { }
.css_main_contact_title_lbl_label { }
.css_main_contact_title_lbl_line { }
.css_main_contact_title_lbl_obj { }
.css_memb_01_label {font-size:16px;color:#0033FF;font-weight:bold;}
.css_memb_01_line { }
.css_memb_01_obj { }
.css_memb_02_label {font-size:16px;color:#0033FF;font-weight:bold;}
.css_memb_02_line { }
.css_memb_02_obj { }
.css_memb_03_label {font-size:16px;color:#0033FF;font-weight:bold;}
.css_memb_03_line { }
.css_memb_03_obj { }
.css_memb_04_label { }
.css_memb_04_line { }
.css_memb_04_obj { }
.css_memb_05_label { }
.css_memb_05_line { }
.css_memb_05_obj { }
.css_memb_06_label { }
.css_memb_06_line { }
.css_memb_06_obj { }
.css_memb_07_label { }
.css_memb_07_line { }
.css_memb_07_obj { }
.css_memb_08_label { }
.css_memb_08_line { }
.css_memb_08_obj { }
.css_memb_09_label { }
.css_memb_09_line { }
.css_memb_09_obj { }
.css_memb_10_label { }
.css_memb_10_line { }
.css_memb_10_obj { }
.css_memb_11_label { }
.css_memb_11_line { }
.css_memb_11_obj { }
.css_memb_12_label { }
.css_memb_12_line { }
.css_memb_12_obj { }
.css_memb_13_label { }
.css_memb_13_line { }
.css_memb_13_obj { }
.css_memb_email_label {font-weight:bold;}
.css_memb_email_line { }
.css_memb_email_obj { }
.css_memb_levels_label { }
.css_memb_levels_line { }
.css_memb_levels_obj { }
.css_memb_name_label { }
.css_memb_name_line { }
.css_memb_name_obj { }
.css_memb_note_label {font-weight:bold;}
.css_memb_note_line { }
.css_memb_note_obj { }
.css_memb_phone_label {font-weight:bold;text-align:center;vertical-align:middle;}
.css_memb_phone_line { }
.css_memb_phone_obj { }
.css_read_at_sign_label {background-color:#F8F9FA;}
.css_read_at_sign_line {background-color:#F8F9FA;}
.css_read_at_sign_obj {background-color:#F8F9FA;}
.css_rules_label { }
.css_rules_line { }
.css_rules_obj { }
.css_rules_warn_label { }
.css_rules_warn_line { }
.css_rules_warn_obj { }
.css_xlsx_sample_label {font-size:14px;color:#CC3300;}
.css_xlsx_sample_line { }
.css_xlsx_sample_obj { }
.css_est_memb_cost_label { }
.css_est_memb_cost_line {font-family:Arial, sans-serif;font-size:14px;color:#333300;background-color:#FFFF00;text-align:center;vertical-align:middle;}
.css_est_memb_cost_obj {text-align:right;}
.css_pay_label { }
.css_pay_line {background-color:#FFFF00;}
.css_pay_obj { }
