.css_client_pmt_id__label {text-align:;}
.css_client_pmt_id__line {text-align:left;}
.css_client_pmt_id__obj {text-align:left;}
.css_pmt_mode__label { }
.css_pmt_mode__line { }
.css_pmt_mode__obj { }
.css_reference__label { }
.css_reference__line { }
.css_reference__obj { }
.css_pmt_date__label { }
.css_pmt_date__line { }
.css_pmt_date__obj { }
.css_amt_received__label { }
.css_amt_received__line {text-align:right;}
.css_amt_received__obj {text-align:left;}
.css_remarks__label { }
.css_remarks__line { }
.css_remarks__obj { }
