.css_adtl_byr_id_label { }
.css_adtl_byr_id_line {text-align:left;}
.css_adtl_byr_id_obj {text-align:left;}
.css_adtl_buyers_label { }
.css_adtl_buyers_line {text-align:left;}
.css_adtl_buyers_obj {color:#0080ff;background-color:#fbff00;font-weight:bold;text-align:left;}
.css_notif_name_label { }
.css_notif_name_line { }
.css_notif_name_obj { }
.css_notif_email_label { }
.css_notif_email_line { }
.css_notif_email_obj { }
.css_total_label { }
.css_total_line {color:#b02525;font-weight:bold;}
.css_total_obj {text-align:right;}
